.grilla {
    @include tablet {
        @include grid (2, $separacion/4);
    }
    margin: 2rem 0;
    .ilustracion {
        @include tablet {
            width: 40rem;
        }
    }
}

.grilla__texto {
    display: flex;
    flex-direction: column;
    align-content: center;

    h2 {
        font-weight: 400;
        &::after {
            content: "";
            border-bottom: 1px solid $ultramarine;
            margin-top: 1rem;
            display: block;
            width: 18rem;
            height: .5rem;
            background-color: #4158D0;
            background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

        }
    }
    p {
        text-align: justify;
        line-height: 3rem;
    }
}